<div class="hero-list">
  <!-- Renderiza la lista de héroes si existen -->
  @if (allHeroes(); as heroes) {
    <div class="hero-list__container">
      <h1 class="hero-list__title">Lista de Héroes</h1>

      <div class="hero-list__flex">
        <!-- Itera sobre cada héroe y muestra su información -->
        @for (hero of heroes; track hero.id) {
          <div class="hero-list__card">
            <a
              [routerLink]="['/heroes/detail', hero.id]"
              class="hero-list__card-link">
              <h2 class="hero-list__card-name">{{ hero.superhero }}</h2>
            </a>
            <p class="hero-list__card-publisher">{{ hero.publisher }}</p>
          </div>
        } @empty {
          <div class="hero-list__error">
            <p class="hero-list__error-message">No hay héroes para mostrar.</p>
          </div>
        }
      </div>
    </div>
  }
</div>
