/**
 * Archivo de estilos globales para la aplicación.
 * Aquí puedes definir reglas CSS que afecten a todo el proyecto
 * o importar otros archivos de estilos.
 */
body {
  /* Color de fondo global para toda la aplicación */
  background: #0f172a;
}
